@model List<DomainLayer.EmployeeViewModel>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">
    <hr />
    <br />
    <h1>Employees list 2</h1>
    @*    <table class="table-bordered" cellpadding="2" cellspacing="2" border="1">*@
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="l">
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Contract type Name</th>
                    <th>Role ID</th>
                    <th>Role name</th>
                    <th>Role description</th>
                    <th>Anualy salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.contractTypeName</td>
                        <td>@item.roleId</td>
                        <td>@item.roleName</td>
                        <td>@item.roleDescription</td>
                        <td>@item.anualSalary</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
    <a href="@Url.Action("Index","Employee")" class="btn btn-primary">   Back home page </a>
    </div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
